<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/css/base.css" rel="stylesheet">
    <title>SAINT PAUL DU TERRAY</title>
</head>

<div class="container">

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Saint Paul du Terray</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Manifestation</a></li>
                    <li><a href="#">Facturation</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container -->
        </nav>

        <div class="panel panel-default col-lg-5 box-presentation">
            <div class="panel-body">
                <h2>Madame, Monsieur,</h2>
                <p>
                    Votre enfant va partir durant l'année scolaire en classe de découverte.
                    <br />Une participation financière par enfant va prochainement vous être demandée.
                    <br /><br />Cette année le conseil municipal a décidé d'instaurer trois types de réductions
                    et un plafonnement à 100 Euros par enfant.
                </p>
                <br />
                <ul>
                    <li>Réduction de 10% si le Quotient Familial est inférieur à 500 Euros</li>
                    <li>Réduction de 20% pour famille de 2 enfants</li>
                    <li>Réduction de 40% pour famille de 3 enfants ou plus</li>
                </ul>
            </div>
        </div>


        <div class="panel panel-default col-lg-5 box-sejours">
            <div class="panel-body">
                <h2>Liste des séjours prévus </h2>
                <p>
                    <?php
                    {% for sejour in sejours %}
                        <p>
                    <strong>{{ sejour.sejintitule }}</strong><br />
                    {{ sejour.sejmontant }} €<br />
                    A partir du {{ sejour.sejdebut }}<br />
                    {{ sejour.sejduree }} nuits
                </p>
                {% endfor %}
                </p>
            </div>
        </div>

    </div>

</html>